body {
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
}

.auth-comp{
  justify-content: left;
  float: 'left';
  padding-right: 100px;
  width: 45%;
  height: 100%;
  padding-top:100px;

 
}


.rowC{display:flex; flex-direction:row;}

form{
justify-content: left;

}
.OrSignUpText{
  padding-left: 68px;
  margin-top: 120px;
}
.ContinueButton{
  margin-top: 15px;
}
.GetStartBTN{
  width:100%;
  background-color: #F63E34;
  border-color: #F63E34;
  color: white
}
.UnderlinedRed{
  font-style: underline ;
  color: #F63E34
  
}

